<style>
  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #005A43;
  background-color: #005A43;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #6CC24A;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #6CC24A;
}

/* Style the tab content */
.tabcontent {
  background-color: #DEDEDE;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Definition')">Definition</button>
  <button class="tablinks" onclick="openTab(event, 'Details')">Details</button>
</div>

<!-- Tab content -->
<div id="Definition" class="tabcontent">
  <h4>
    What is deception?
  </h4>
  <p>
    <b>"Deception occurs when communicators control the information contained in their messages to convey a meaning that
      departs from the truth as they know it".</b>
    <br><br>As stated above, we can label a communication as deception if:
  <ol>
    <li>There is presence of <b>deliberate intent</b> to deceive</li>
    <li>Communicator considers the information to be <b>untrue</b></li>
    <li>It has a <b>purpose</b>, like, gain of esteem, respect, trust or material, or in order to evade judgement that
      is negative and/or harms them or what they represent.</li>

  </ol>
  </p>
</div>

<div id="Details" class="tabcontent">
  <a href="{{permalink}}" target="_blank" rel="noopener noreferrer"><u>Link to Session</u></a>
  <br><br>
  <h5>Topic: </h5>{{topic}}
  <br><br>
  <h5>Committees: </h5>
    <ul id = committees>
      {% for item in committees %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
</div>

<script>
  function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks, flag = true;

  if(evt.currentTarget.className.includes(" active")){
    flag = false;
  }

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  if (flag){
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
  }

}
</script>